In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=f6209d361d2620a74b18cfc479bfc12beb9cf7c82eec7a0d2afe25788747656a
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [11]:
import pandas as pd
pd.read_csv('pyspark1.csv')

    Name  Age  Experience
0  Krish   31          10
1   Sudh   30           8
2  Sunny   29           4

In [12]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [13]:
## read the dataset
spark.read.option('header', 'true').csv('pyspark1.csv')

DataFrame[Name: string, Age: string, Experience: string]

In [14]:
spark.read.option('header', 'true').csv('pyspark1.csv').show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|        10|
| Sudh| 30|         8|
|Sunny| 29|         4|
+-----+---+----------+

In [15]:
df_pyspark = spark.read.option('header', 'true').csv('pyspark1.csv').show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|        10|
| Sudh| 30|         8|
|Sunny| 29|         4|
+-----+---+----------+

In [16]:
### Check the schema
df_pyspark = spark.read.option('header', 'true').csv('pyspark1.csv')
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [36]:
#Because of inferSchema=True I can show my columns in their real data tyes
df_pyspark = spark.read.option('header', 'true').csv('pyspark1.csv',inferSchema=True)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [19]:
df_pyspark = spark.read.csv('pyspark1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|        10|
| Sudh| 30|         8|
|Sunny| 29|         4|
+-----+---+----------+

In [20]:
### Check the Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [21]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
### Selecting Columns And Indexing
df_pyspark.columns

['Name', 'Age', 'Experience']

In [23]:
df_pyspark.head(3)

[Row(Name='Krish', Age=31, Experience=10),
 Row(Name='Sudh', Age=30, Experience=8),
 Row(Name='Sunny', Age=29, Experience=4)]

In [24]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|        10|
| Sudh| 30|         8|
|Sunny| 29|         4|
+-----+---+----------+

In [25]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [26]:
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
|Krish|
| Sudh|
|Sunny|
+-----+

In [27]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [28]:
df_pyspark.select(['Name','Experience'])

DataFrame[Name: string, Experience: int]

In [29]:
df_pyspark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|Krish|        10|
| Sudh|         8|
|Sunny|         4|
+-----+----------+

In [30]:
### how to check data types
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [31]:
# check desribe option similar to Pandas
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [32]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| Age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| NULL|30.0|7.333333333333333|
| stddev| NULL| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

In [33]:
#Adding columns in data frame
df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

DataFrame[Name: string, Age: int, Experience: int, Experience After 2 year: int]

In [34]:
df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2).show()

+-----+---+----------+-----------------------+
| Name|Age|Experience|Experience After 2 year|
+-----+---+----------+-----------------------+
|Krish| 31|        10|                     12|
| Sudh| 30|         8|                     10|
|Sunny| 29|         4|                      6|
+-----+---+----------+-----------------------+

In [37]:
df_pyspark = df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)
df_pyspark

DataFrame[Name: string, Age: int, Experience: int, Experience After 2 year: int]

In [38]:
df_pyspark.show()

+-----+---+----------+-----------------------+
| Name|Age|Experience|Experience After 2 year|
+-----+---+----------+-----------------------+
|Krish| 31|        10|                     12|
| Sudh| 30|         8|                     10|
|Sunny| 29|         4|                      6|
+-----+---+----------+-----------------------+

In [39]:
### Drop the columns
df_pyspark.drop('Experience After 2 year')

DataFrame[Name: string, Age: int, Experience: int]

In [40]:
df_pyspark.drop('Experience After 2 year').show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|        10|
| Sudh| 30|         8|
|Sunny| 29|         4|
+-----+---+----------+

In [41]:
df_pyspark = df_pyspark.drop('Experience After 2 year')

In [42]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|        10|
| Sudh| 30|         8|
|Sunny| 29|         4|
+-----+---+----------+

In [43]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|   Krish| 31|        10|
|    Sudh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+